Drosophila_melanogaster.BDGP6.28.100.gtf
Drosophila_melanogaster.BDGP6.28.dna.toplevel.fa
SRR21697059_1.fastq.gz
SRR21697059_2.fastq.gz
SRR21697060_1.fastq.gz
SRR21697060_2.fastq.gz
celseq_barcodes.192.1col.txt
dm6_star_index
ftp_links.txt
